@media (width <=1400px) {
  html {
    font-size: 56.25%;
    /* 1rem = 9px  */
  }
  :is(.section-about,
  .section-course) .grid {
    gap: 6.4rem;
  }

  .hero-text-pera p {
    font-size: 1.8rem;
  }

  .text-area h1,
  .text-area-hover h1 {
    font-weight: 600;
    /* text-align: center; */
    font-size: 6rem;
  }

  .text-area h2,
  .text-area-hover h2 {
    font-weight: 600;
    /* text-align: center; */
    font-size: 6rem;
  }
}

@media (width <=1220px) {
  html {
    font-size: 54%;
    /* 1rem = 9px  */
  }

  .hero-text-pera p {
    font-size: 1.8rem;
  }

  .text-area h1,
  .text-area-hover h1 {
    font-weight: 600;
    /* text-align: center; */
    font-size: 5..8rem;
  }

  .text-area h2,
  .text-area-hover h2 {
    font-weight: 600;
    /* text-align: center; */
    font-size: 5.8rem;
  }

}

@media (width <=1100px) {
  .hero-text-pera p {
    font-size: 1.5rem;
  }
 .cards__inner {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
  .overlay {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
  .grid-four--cols {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
  .type-rider-content-compiler{

    & span{
      font-size: 2.5rem;
    }
    & h3{
      font-size: 3.8rem;
      line-height: 1.2;
    }
    & p{
      margin-top: 1rem;
      font-size: 1.5rem;
      line-height: 1.7;
    }
  }
  .card__content{
    font-size: 1.7rem;
  }
}

@media (width <=998px) {
  .logo-div img {
    width: 40%;
  }

  #close {
    display: block;
    cursor: pointer;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    border: 1px solid white;
    padding: 0.5rem;
    padding: 5px;
    font-size: 35px;
    position: absolute;
    left: 1rem;
    top: 15px;
    border-radius: 0;
  }

  .mobile-nav {
    display: none;
  }

  nav {
    /* position: fixed; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    /* position: fixed; */
  }

  .humber-manu {
    display: inline;
    cursor: pointer;
  }

  nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  nav ul li a {
    font-size: 3rem;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-weight: 800;
  }

  .humber-manu .fa-solid {
    display: inline;
    padding: 0;
    background-color: transparent;
    font-size: 3.5rem;
  }


  .hero-section {

    & .hero-text {
      text-align: center;

      & h1 {
        font-size: 5rem;
        /* line-height: 1.2; */
      }
    }
  }

  .hero-text-pera p {
    font-size: 1rem;
  }

  .section-about .about-div {
    text-align: left;
  }
  .section-about img{
    width: 13rem;
    height: auto;
  }

  .text-area h1,
  .text-area-hover h1 {
    font-size: 5rem;
  }

  .text-area h2,
  .text-area-hover h2 {
    font-size: 5rem;
  }
  footer .container{
    padding:  0 1.5rem;
    height: 450px;
  }
  footer .grid-four--cols {
    grid-template-columns: repeat(3, minmax(33%, 1fr));
    text-align: center;
    
    & .footer-1--div {
      grid-row: 2 / 3;
      grid-column: 1 / -1;
      margin: 5rem 0 2rem 0;
    }

    & .footer-2--div,.footer-3--div,.footer-4--div{
      margin-top: 5rem;
    }
  }
  .logo-brand a img{
    width: 60%;
    color: white;
    line-height: 1.5;
  }
  .social-media{
    display: flex;
    /* align-items: center; */
    justify-content: center;
    margin: 1.5rem 0 0 0;
  }
  .type-section-heading{
    font-size: 2.5rem;
    padding-bottom:5rem;
    text-align: center;
  }
  .type-rider-content-compiler{

    & span{
      font-size: 2.5rem;
    }
    & h3{
      font-size: 2.8rem;
      line-height: 1.2;
    }
    & p{
      width: 100%;
      margin-top: 1rem;
      font-size: 1rem;
      line-height: 1.7;
    }
  }
  .card__content{
    font-size: 1.5rem;
  }

  
}

@media (width <=768px) {

  .grid-two--cols,
  .grid-three--cols{
    grid-template-columns: repeat(1,1fr);
  }
  .contect-container {
    padding: 5.6rem 2.4rem 1rem 2.4rem;
  }

  .contact-title {
    font-size: 2.4rem;
  }
  .text-area h1,
  .text-area-hover h1 {
    font-size: 4.3rem;
  }

  .text-area h2,
  .text-area-hover h2 {
    font-size: 4.3rem;
  }
  .tagline{
    height: 30vh;
  }
  .type-writer-section{
    height: auto;
  }
  .type-section-heading{
    font-size: 2.3rem;
    line-height: 1.5;
    margin-top: 3rem;
  }
  #back-effect-1{
    position: absolute;
    /* width: 20px ; */
    top: 20%;
    left: 10%;
    background-color: red;
    border-radius: 50%;
    box-shadow: 0 0 8000px 30px rgb(0, 255, 115);
}
#back-effect-2{
    position: absolute;
    /* width: 20px ; */
    bottom: 10%;
    right: 5%;
    background-color: red;
    border-radius: 50%;
    box-shadow: 0 0 8000px 30px rgb(0, 255, 115);
}
  .type-rider-content-compiler{

    & span{
      font-size: 2.5rem;
      font-weight: 800;
    }
    & h3{
      font-size: 3.5rem;
      line-height: 1.2;
    }
    & p{
      margin-top: 1rem;
      font-size: 1.3rem;
      line-height: 1.7;
    }
  }
  .card__content{
    font-size: 1.8rem;
    line-height: 1.5;
    padding: 0 0 0 2rem;
  }
  .type-rider-div{
    height: 80vh;
    grid-template-columns: repeat(1,1fr);
    gap: 3rem;
  }
}

@media (width <=580px) {

  .hero-section {
    & .hero-text {
      & .hero-text-pera{
        display: flex;
        align-items: center;
        justify-content: center;
      }
      & p {
        font-size: 1.3rem;
        width: 85%;
      }
    }
  }

  .text-area h1,
  .text-area-hover h1 {
    font-weight: 600;
    /* text-align: center; */
    font-size: 3rem;
  }

  .text-area h2,
  .text-area-hover h2 {
    font-weight: 600;
    /* text-align: center; */
    font-size: 3rem;
  }
  .type-section-heading{
    font-size: 2rem;
  }
  .type-rider-content-compiler{

    & span{
      font-size: 2.5rem;
      font-weight: 800;
    }
    & h3{
      font-size: 3rem;
      line-height: 1.2;
    }
    & p{
      margin-top: 1rem;
      font-size: 1.3rem;
      line-height: 1.7;
    }
  }

  .type-rider-div{
    height: 80vh;
  }
}